<form id="booking_form">
  <input type="text" value="First Name" name="FNAME">
  <input type="text" value="Last Name" name="LNAME">
  <input type="text" value="Email Address" name="EMAIL">
  <input type="submit" value="Book now">
</form>