<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Makers In Space</title>
    <meta name="description" content="The world's most premium space program brand">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    
    <header class="full">
      <h1>
        <img src="images/logo.png" alt="Makers Galactica logo">
      </h1>
    </header>

    <section class="content">
      <h2>MAKERS IN SPACE</h2>
      <p>Welcome to the ride of your life.</p>
      <input type="submit" value="BOOK NOW" id="booking" />
    </section>

    <section class="full" id="confirmation">
      <form id="booking_form">
      </form>
    </section>
    

    <section class="full" id="social">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="http://hotkeybooks.us3.list-manage1.com/subscribe/post?u=728cc416ecaabffcc3607721e&amp;id=b2714eb83d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <!-- You can either post or get. Everytime you download, you are getting. If you are filling in a form, or uploading, you are posting. Target="_blank" is... if I send this form and there is something wrong with it, open up a new window with a basic mailchimp sign up web page. -->
        
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter email address">
        <!-- The server needs to know a name for the whole set of data, but also for each piece of data. name="EMAIL" tells MailChimp what kind of info they are receiving. -->
        <!-- We've added in the placeholder attribute. MailChimp didn't have it there. It's what pre-fills the email box. -->
      </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups; it's a field 5000px off the page and only a bot would fill it it. If it's filled in, the data is rejected.-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_728cc416ecaabffcc3607721e_b2714eb83d" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </form>
      </div>

      <!--End mc_embed_signup-->
    </section>


  </body>
</html>